  
language: python
python:
  - "3.6"
# command to install dependencies
install:
  - pip install -r requirements.txt
# command to make migration
before_script:
  - python manage.py makemigrations
  - python manage.py migrate
# command to run tests
script:
  - python manage.py test